<%= form_for @post do |f| %>
  <%= render 'common/error_messages', object: f.object %>

  <p>
  <%= f.label :網址 %>
  <%= f.text_field :url %>
  <%= f.label :標題 %>
  <%= f.text_field :title %>
  <%= f.label :內容 %>
  <%= f.text_area :description %>
  <%= f.label :類別 %>
  <%= select_tag(:category, options_for_select(['Gem','新聞','教學','討論'])) %>

  <%= f.submit "送出" %>
  </p>
<% end %>
