      <div class="hero-unit">
        <h1>Rails 資源連結</h1>
        <p>台灣學習Rails資源入口</p>
      </div>
      <div>
	      <%= link_to('新增網站',new_post_path, :class => "btn btn-large btn-info") %>
        <%= link_to('Gem','/posts/gem') %>
        <%= link_to('新聞','/posts/news' ) %>
        <%= link_to('教學','/posts/teach') %>
        <%= link_to('討論','/posts/discuss') %>

	      <table class="table">
	        <tr>
	          <th>標題<th>
	          <th>描述<th>
            <th>類別<th>
	          <th>作者<th>
	        </tr>
	      <% @posts.each do |post| %>
	      	<tr>
	      		<th><%= link_to(post.title, post_path(post)) %><th>
	      		<th><%= post.description %><th>
            <th><% post.categories.each do |c|  %> 
                  <%=c.name %>
                <% end %>
            <th>
	      		<th><%= gravatar_image_tag(post.author.email.gsub('spam', 'mdeering'), :alt => post.author.name,:gravatar => {:size =>15})  %><%= post.author.name %><th>
	      	</tr>
	      <% end %>
	      </table>
      </div>