      <div class="hero-unit">
        <h1>Rails 資源連結</h1>
        <p>台灣學習Rails資源入口</p>
      </div>
      <div>
       <%= link_to('新增網站',new_post_path, :class => "btn btn-large btn-primary") %>
       <%= link_to('最新',posts_path,:class => "btn btn-small btn-info") %>
       <%= link_to('Gem','/posts/gem',:class => "btn btn-small btn-info") %>
       <%= link_to('新聞','/posts/news',:class => "btn btn-small btn-info" ) %>
       <%= link_to('教學','/posts/teach',:class => "btn btn-small btn-info") %>
       <%= link_to('討論','/posts/discuss',:class => "btn btn-small btn-info") %>
       <span style="display:none">
         <%= link_to('remote page','/posts',:class => "btn btn-small btn-info",:remote => true, "data-type" => "script") %>

         <a id="ajax_page" href="javascript:;" class="btn btn-small btn-info" >ajax page</a> 
         <a id="ajax_data" href="javascript:;" class="btn btn-small btn-info" >ajax data</a> 
         <%= link_to 'show 1', '/posts/1', :class => "btn btn-small btn-info", :remote => true, "data-type" => "script" %>
       </span>
       <div id="ajax_content">
        <%= render 'index' %>
      </div>
    </div>

    <% content_for :stylesheets do %>
    <% end %>
    <% content_for :javascripts do %>
    <%= javascript_include_tag "posts/index" %>
    <% end %>