<div class="pull-right">
<%= link_to('back',posts_path, :class => "btn btn-large btn-info") %>
</div>

<div>
  <div class="row">
    <div class="span2">
      <%= image_tag @post.thumbnail_url,  {height: 100,width:100}  %>
    </div>
    <div class="span10">
      <h5><%= link_to(@post.title,'http://'+@post.url) %></h5>
      <p>
        <%=@post.description %>
      </p>
  </div>
  </div>
</div>

<h2 align="center">推薦原因</h2>
<div>
  <hr></hr>
  
  <div>
    <h4>推文留言</h4>
  </div>
  <hr></hr>
  <% @post.comments.each do |comment| %>
    <table>
      <tr><%= comment.author.email %> 表示：</tr>
      <td>
        <%= comment.comment %>
      </td>
    </table>
  <% end %>
  <div>
    <%= form_for(@comment,:url => post_path(@post)+'/comments/create') do |f|  %>
    <%= f.text_area :comment %>
    <%= f.submit "留言" %>
    <% end %>
  </div>
</div> 

